
/*--------------------------Navbar Style------------------------*/
.navstyle{
    background-color: #2b7a78 !important;
}
.navtitle{
    font-weight: bold !important;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navlink{
    text-decoration: none;
    color: #ffffff !important;
}
.navbtn{
    height: 3rem !important;
    font-size: 30px !important;
    border-radius: 12px !important;
    background-color: #2b7a78 !important;
    margin: 10px !important;
}


/*--------------------------Product Type Page Styles------------------------*/
.productTypeImageStyle{
    height: 40px;
    border-radius: 50%;
    width: auto;
}

.productTypeDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6vh;
    height: 100vh;
    background-color: #def2f1 !important;
}

.productTypeButton{
    margin: 5px !important;
}

.productTypeh1{
    color: #17252a !important;
}

.searchDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.searchbar{
    background-color: white;
    width: 25vw !important;
    margin: 5px !important;
}

.addnewproducttypebutton{
    background-color: #17252a !important;
    margin: 5px !important;
    height: 7vh !important;
}
.addnewproducttypebutton:hover{
    background-color: #2b7a78 !important;
}

.productTableRow{
    cursor: pointer;
}

/*--------------------------Item Page Styles------------------------*/
.itemsDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6vh;
    height: 100vh;
    background-color: #cbd8ea !important;
}